@page
@model IndexModel
@using HexagonSanDiego.Models
@section Style{
}
@section Scripts{
}

<div class="container-fluid banner-container slider px-0">
    <div class="swiper-container default-slider">
        <div class="swiper-wrapper">
            @foreach( var items in Model.ImageList)
            {
                var iphotourl = "/images/slider/" + items; 
                <div class="swiper-slide">
                <img class="img-fluid" src="@iphotourl"  alt=""/>
                <div class="slider-filter"></div>
                <div class="slider-content-gen">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10 col-lg-11 col-md-12  slider-content text-center">
                                <h1>@Model.homePageDataModel?.SliderText.Length</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
            }
          
        </div>
    </div>
</div>

<div class="container bg-white hakkimizda-index">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 content-gen order-2 order-lg-1">
            <h1 class="page-title-hakkimizda">Welcome To <span class="f-family-old">Hexagon</span></h1>
         <p>@Model.homePageDataModel?.WelcometoText</p>
            <a class="btn btn-gold px-5 rounded-0 btn-lg" href="FloorPlans">CHECK  AVAILABILITY</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 mb-3 mb-lg-0 order-1 order-lg-2 align-self-stretch">
            <img class="img-fluid" src="@(Model.homePageDataModel?.WelcometoImage)" />
        </div>
    </div>
</div>
<div class="container-fluid galleri-index px-0 content-white content-box" id='gallery-bg'>

    <div class="container h-100">
        <div class="row h-100">
            <div class="col-xl-4 col-lg-4 col-md-6 col-12 align-self-center">
                <h2>ONE ROOF, MANY THINGS</h2>
                <h1 class="f-family-old">Photo Gallery</h1>
                <p>@Model.homePageDataModel?.PhotogalleryText</p>

                <a class="btn btn-white px-5 rounded-0 btn-lg" href="Photos">VIEW GALLERY</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light-gray py-5 amenities-index">
    <div class="container my-4 ">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-12 col-12 bg-white pl-md-0">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 align-self-stretch px-0">
                        <img class="img-fluid" src="/images/page/amenities-1.jpg" />
                    </div>
                    <div class="col-12 amenities-center-box">
                        <div class="row">
                            <div class="col-md-12 col-4 mb-0 mb-md-3 pr-0 pr-md-3">
                                <img class="img-fluid" src="/images/page/amenities-2.jpg" />
                            </div>
                            <div class="col-md-12 col-4 mb-0 mb-md-3 pr-0 pr-md-3">
                                <img class="img-fluid" src="/images/page/amenities-3.jpg" />
                            </div>
                            <div class="col-md-12 col-4">
                                <img class="img-fluid" src="/images/page/amenities-4.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12  content-box  content-gold align-self-center amenities-box py-5 py-md-0">
                        <h2>AMAZING INDEPENDENT SENIOR APARTMENTS</h2>
                        <h1 class="f-family-old">Amenities</h1>
                        <p>@Model.homePageDataModel?.AmenitiesText</p>
                        <a class="btn btn-gold px-5 rounded-0 btn-lg" href="Amenities">VIEW ALL AMENITIES</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 community-index px-0 h-100">
    <div class="row h-100">
        <div class="col-xl-5 col-lg-5 col-md-12 bg-gold align-self-stretch">
            <div class="row justify-content-end h-100 py-5 my-3">
                <div class="col-xl-8 col-lg-10 col-md-12  pl-5 pl-lg-3 pr-3 pr-lg-5 align-self-center content-white content-box ">
                    <h2>WE’RE MAKING INDEPENDENT LIVING GREAT</h2>
                    <h1 class="f-family-old">Community</h1>
                    <p>@Model.homePageDataModel?.CommunityText</p>
                    <a class="btn btn-white px-5 rounded-0 btn-lg" href="Map">GET DIRECTIONS</a>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-12 align-self-stretch">
            <div class="row h-100">
                <div class="col-xl-4 col-lg-4 col-md-4 col-6 pr-0">
                    <img class="img-fluid" src="/images/page/community-1.jpg" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6 pr-3 pr-md-0">
                    <img class="img-fluid" src="/images/page/community-2.jpg" />
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 d-none d-md-block pr-3 pr-md-0">
                    <img class="img-fluid" src="/images/page/community-3.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 contact-index">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-12 col-12 bg-light-gray pl-lg-0">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12 align-self-stretch px-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12045.363266195562!2d29.053964!3d40.995913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x684675e1d4b47eb2!2sRella%20Medya!5e0!3m2!1str!2str!4v1645776311668!5m2!1str!2str" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-12 content-box content-gold align-self-center contact-index py-5 my-3 px-5">
                    <h2>HERE'S HOW TO REACH US</h2>
                    <h1 class="f-family-old">Logate Us</h1>
                    <p>Contact us for more information about our community.</p>
                    <div class="form-group">
                        <div class="form-row    ">
                            <div class="col-md-6 col-12 mb-3">
                                <input id="Text1" class="form-control form-control-lg" type="text" placeholder="First Name" />
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Last Name" />
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Email Address" />
                            </div>
                            <div class="col-md-6 col-12 mb-3">
                                <input id="Text1" class="form-control form-control-lg" type="text" placeholder="Phone Number" />
                            </div>
                            <div class="col-12 mb-3">
                                <textarea id="TextArea1" rows="4" cols="20" class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button type="button" class="btn btn-gold px-5 rounded-0 btn-lg">SEND MY MESSAGE</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let element = document.getElementById("gallery-bg");
   
    element.style.backgroundImage = "url(@(Model.homePageDataModel?.PhotogalleryImage))";

</script>
